# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
df = pd.read_csv(url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
chipo.shape

(4622, 5)

In [2]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:
item_quants = chipo.groupby(['item_name']).agg({'quantity': 'sum'})
item_quants.sort_values('quantity', ascending = False) [:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
761

### Step 11. What was the most ordered item in the choice_description column?

In [19]:
item_choice = chipo.groupby(['choice_description']).agg({'quantity': 'sum'})
item_choice.sort_values('quantity', ascending = False) [:5]

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

### Step 12. How many items were orderd in total?

In [20]:
chipo.quantity.sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float)

AttributeError: Can only use .str accessor with string values!

In [23]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [24]:
chipo['item_price'].sum()

np.float64(34500.16)

### Step 15. How many orders were made in the period?

In [25]:
chipo['quantity'].sum()

np.int64(4972)

### Step 16. What is the average revenue amount per order?

In [27]:
# Solution 1

chipo['item_price'].sum() / 4622

np.float64(7.464335785374297)

In [28]:
# Solution 2

chipo['item_price'].mean()

np.float64(7.464335785374297)

### Step 17. How many different items are sold?

In [30]:
chipo.item_name.nunique()

50